* {
    margin: 0;
    padding: 0;
}

body {
    /* overflow: hidden; */
    color: white;
    width: 100%;
}

/* Header */
header {
    /* position: fixed;
    top: 0; */
    position: relative;
    z-index: 2;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-shadow: 3px 3px 2px black;
}

header h1 {
    position: relative;
    left: 50px;
    font-size: 2.3rem;
}

header .menu .menu-desktop {
    position: relative;
    right: 45px;
    font-size: 1.2rem;
}

header .menu .menu-desktop li {
    display: inline-block;
    margin: 0px 5px;
    list-style-type: none;
}

header .menu .menu-desktop li a {
    text-decoration: none;
    color: inherit;
    transition: color 0.4s ease;
}

header .menu .menu-desktop li a:hover {
    cursor: pointer;
    /* color: rgba(240, 128, 128, 0.8); */
    color: cornflowerblue;
}

header .menu .hamburger-wrap {
    display: none;
}

/* Akhir Header */

/* Jumbotron */
.jumbotron {
    position: relative;
    width: 100%;
    /* max-width: 100%; */
    height: 540px;
    margin-top: -50px;
    background: url(img/Libraries.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.jumbotron .jumbotron-container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jumbotron .jumbotron-container h1 {
    font-size: 70px;
    text-shadow: 2px 2px 1px black;
}

.jumbotron .jumbotron-container p,
.jumbotron .jumbotron-container .search input {
    position: relative;
    top: 170px;
}
.jumbotron .jumbotron-container p {
    font-size: 19px;
}

.jumbotron .jumbotron-container .search {
    margin-top: 9px;
}

.jumbotron .jumbotron-container .search .input {
    width: 220px;
    height: 30px;
    margin-right: 0;
    padding-left: 15px;
    border: none;
    border-top-left-radius: 50px 50px;
    border-bottom-left-radius: 50px 50px;
}

.jumbotron .jumbotron-container .btn {
    width: 80px;
    height: 30px;
    margin-left: -4px;
    background-color: crimson;
    color: white;
    border: none;
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    transition: all 0.4s ease;
}

.jumbotron .jumbotron-container .btn:hover {
    background-color: rgb(195, 0, 39);
    cursor: pointer;
}

.jumbotron .jumbotron-container .search input:focus {
    outline: none !important;
}
/* Akhir Jumbotron */

/* Konten */
main .main-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
}

main .main-container .collection {
    display: flex;
    flex-wrap: wrap;
    width: 96.5%;
    margin: 10px 0px 10px 0px;
    padding: 20px 3px 20px 20px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: white;
}

main .main-container .content-container {
    width: 98%;
    height: 90%;
    display: grid;
    grid-template-rows: 60px 4fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "pagetitle"
    "main";
    margin: 10px 0px 10px 0px;
    justify-content: center;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: black;
}

main .main-container .content-container .page-title {
    grid-area: "pagetitle";
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    background-color: rgb(224, 221, 221);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid black;
}

main .main-container .content-container .main-content{
    grid-area: "main";
    padding: 25px 0px 15px 15px;
}

main .main-container .content-container .main-content .add-form {
    display: inline-block;
    position: relative;
    top: -15px;
    /* margin-top: -20px; */
}




main .main-container .content-container .main-content .add-form td {
    border: 0;
    border-collapse: collapse;
}

main .main-container .content-container .main-content .add-form2 {
    display: inline-block;
    position: relative;
    top: -20px;
    margin-left: -70px;
    /* margin-top: -10px; */
}

main .main-container .content-container .main-content .add-form3 {
    display: inline-block;
    position: relative;
    margin-left: -70px;
    top: -20px;
}

main .main-container .content-container .main-content .add-form2 td {
    border: 0;
    border-collapse: collapse;
    padding-bottom: 6px;
}

main .main-container .content-container .main-content .add-form2 .btnsubmit {
    /* display: inline-block; */
	padding: 10px 71px;
	color: #fff;
	text-decoration: none;
    cursor: pointer;
    background: #038ade;
    border: 0;
}

main .main-container .content-container .main-content .add-form3 td {
    border: 0;
    border-collapse: collapse;
    padding-bottom: 6px;
}

main .main-container .content-container .main-content .add-form3 .btnsubmit {
    /* display: inline-block; */
	padding: 10px 50px;
	color: #fff;
	text-decoration: none;
    cursor: pointer;
    background: #038ade;
    border: 0;
}

main .main-container .content-container .main-content .add-form3 .btndelete {
    padding: 10px 50px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #fc4c4c;
        border: 0;
    }

main .main-container .content-container-detail {
    width: 98%;
    /* position: relative; */
    height: 90%;
    margin: 10px 0px 10px 0px;
    /* margin-right: 10px; */
    padding: 0px 0px 10px 0px;
    /* border: 0.5px solid black; */
    justify-content: center;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 60px 4fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "pagetitle"
    "main";
    color: black;
    /* background-color: red; */
}

main .main-container .content-container-detail .page-title {
    grid-area: "pagetitle";
    display: flex;
    /* height: 10px; */
    /* justify-content: flex-start; */
    align-items: center;
    padding-left: 20px;
    background-color: rgb(224, 221, 221);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid black;
}

main .main-container .content-container-detail .main-content{
    grid-area: "main";
    display: flex;
    justify-content: center;
}

main .main-container .content-container-detail .main-content .detail-table {
    margin-top: 10px;
    width: 98%;
    text-align: center;
    border-radius: 10px;
    border-collapse: collapse;
    font-size: 14px;
}

main .main-container .content-container-detail .main-content .detail-table th, td {
    border: 1px solid cadetblue;
    padding: 5px 5px 1px 5px;
}

main .main-container .content-container-detail .main-content .detail-table th {
    height: 25px;
    /* background-color: rgb(0, 177, 141); */
    background-color: teal;
    /* background-color: lightcoral; */
    color: white;
}

main .main-container .content-container-detail .main-content .detail-table td:nth-child(1) {
    width: 3%;
}

main .main-container .content-container-detail .main-content .detail-table td:nth-child(2) {
    width: 8%;
}

main .main-container .content-container-detail .main-content .detail-table td:nth-child(3) {
    width: 100px;
}

main .main-container .content-container-detail .main-content .detail-table td:nth-child(4) {
    width: 15%;
}

main .main-container .content-container-detail .main-content .detail-table td:nth-child(5) {
    width: 12%;
}

main .main-container .content-container-detail .main-content .detail-table td:nth-child(6) {
    width: 10%;
}

main .main-container .content-container-detail .main-content .detail-table td:nth-child(7) {
    width: 8%;
}

main .main-container .content-container-detail .main-content .detail-table .tombol {
    display: inline-block;
    max-width: 150px;
	padding: 15px 30px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

main .main-container .content-container-detail .main-content .detail-table .edit {
    background: #038ade;
}

main .main-container .content-container-detail .main-content .detail-table .hapus {
    background: #fc4c4c;
}

main .collection .book-container {
    padding: 0px 16.9px 15px 0px;
    border-radius: 5px;
}

/* Akhir Konten */

/* Footer */
footer {
    width: 100%;
    max-width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(53, 66, 74);
}
/* Akhir footer */

/* Ukuran Mobile */
@media screen and (max-width: 576px) {
    /* Header Mobile */
    header {
        background-color: rgba(0, 0, 0, 0.75);
    /* top: -50px ; */
        /* justify-content: center;
        align-items: center; */
    }
    header h1 {
        font-size: 35px;
        left: 20px;
    }
    
    header .menu .menu-desktop {
        display: none;
    }

    header .menu .hamburger-wrap {
        position: relative;
        top: 0;
        right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        width: 40px;
        height: 40px;
        /* background-color: red; */
    }

    header .menu .hamburger-wrap .hamburger {
        background-color: rgba(0, 0, 0, 0.5);
        width: 40px;
        height: 40px;
        border: 0.5px solid white;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .menu .hamburger-wrap .toggler {
        position: absolute;
        width: inherit;
        height: inherit;
        z-index: 3;
        cursor: pointer;
        opacity: 0;
    }

    header .menu .hamburger-wrap .hamburger div {
        position: relative;
        top: 0;
        left: 0;
        width: 28px;
        height: 2px;
        background-color: white;
    }

    header .menu .hamburger-wrap .hamburger div::before,
    header .menu .hamburger-wrap .hamburger div::after {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: inherit;
        bottom: 10px;
        z-index: 1;
    }

    header .menu .hamburger-wrap .hamburger div::after {
        top: 10px;
    }

    header .menu .hamburger-wrap .hamburger-menu {
        top: -5px;
        right: -20px;
        width:100vw;
        height: 100vh;
        visibility: hidden;
        display: flex;
        z-index:-5;
        align-items: center;
        justify-content: center;
        position: absolute;
        /* z-index: -1; */
        /* display: none; */
        transition: all 0.5s ease;
        background-color: rgba(255, 160, 122, 0);
    }


    .hamburger-wrap .toggler:checked {
        z-index: 5;
    }
    .hamburger-wrap .toggler:checked ~ .hamburger-menu {
        left: 0;
        position: fixed;
        visibility: visible;
        display: flex;
        
        align-items: center;
        justify-content: center;
        /* transition: all 0.5s ease; */
        overflow: hidden;
        top: 0;
    }

    .hamburger-wrap .hamburger-menu > ul {
        visibility: hidden;
        /* max-width: 200vw; */
        /* width: 20%;
        height: 15%; */
        width: 0;
        height: 0;
        position: relative;
        list-style: none;
        /* background-color: crimson; */
        background-color: rgba(0, 0, 0, 0.9);
        /* border-radius: 50%; */
        text-align: center;
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hamburger-wrap .toggler:checked ~ .hamburger-menu > ul {
        left: -15px;
        width: 100%;
        height: 100%;
        visibility: visible;
        border-radius: 0;
        /* transition: all 0.5s ease; */
    }

    .hamburger-wrap .toggler:checked ~ .hamburger-menu > ul > li > a {
        font-size: 20px;
    }

    .hamburger-wrap .hamburger-menu > ul > li > a {
        color: white;
        text-shadow: none;
        text-decoration: none;
        font-weight: normal;
        /* position: absolute; */
        z-index: 0;
        transition: all 0.4s ease;
        font-size: 0;
    }

    .hamburger-wrap .hamburger-menu > ul > li > a:hover {
        color: cornflowerblue;
    }
    /* Akhir Header Mobile */

    /* Main Mobile */
    main .main-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr;
        grid-template-areas:
            "category"
            "collections";
        color: black;
    }
    
    main .main-container .category{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 10px 10px 0 10px;
    }

    main .main-container .category h2 {
        font-weight: inherit;
        margin: 10px 10px;
        font-size: 20px;
    }

    main .main-container .category select {
        visibility: visible;
        position: relative;
    }

    main .main-container .category ul {
        visibility: hidden;
        position: absolute;
    }

    main .main-container .collection {
        margin: 10px;
        justify-content: space-around;
    }
    /* Akhir Main Mobile */
}   